.projects{

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:1.5rem;
    padding: 2.5rem;
    border: 1px solid black;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.portfolio__item:hover{
    border-color: black;
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1rem;
    overflow: hidden;
}

