nav{
    background-color: rgba(0, 0, 0, 0.2);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 10;
    display: flex;
    position: fixed;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    filter: blur(transparent);
    
}


nav a.active{
    background: var(--color-text);
    color: var(--color-bg);
}